<!-- Displays the status bytes stored in the FMS JSON -->
<main>
  <mat-toolbar>{{ title }}</mat-toolbar>
  <div class="margin-side-1em d-flex flex-grow-1" *ngIf="fmsDataService.isDataPresent">
    <mat-tab-group class="w-100">
      <mat-tab label="Flags">
        <ng-template matTabContent>
          <app-flags></app-flags>
        </ng-template>
      </mat-tab>
      <mat-tab label="Status Matrix">
        <ng-template matTabContent>
          <app-matrix></app-matrix>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-loading *ngIf="!fmsDataService.isDataPresent"></app-loading>
</main>
