.circles, .domain {
  opacity: 0.5;
}

.circles, .position {
  stroke: black;
  stroke-width: 1
}

.center {
  fill: black;
}

.connection {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.direction text {
  font-size: 1.2em;
}

label {
  margin-bottom: 0;
}

line {
  &.direction {
    stroke: black;
    stroke-width: 1;
    opacity: 0.5;
  }
}

g {
  transform-origin: center;
}

text {
  text-anchor: middle;
}

#altitudes {
  .domain {
    stroke: none;
  }
}

#toggle-icon {
  cursor: pointer;

  &:hover {
    background-color: lightgrey;
  }
}
