.circles {
  opacity: 0.5;
}

.circles, .position {
  stroke: black;
  stroke-width: 1
}

.center {
  fill: black;
}

.connection {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

label {
  margin-bottom: 0;
}

line {
  &.direction {
    stroke: black;
    stroke-width: 1;
    opacity: 0.5;
  }
}

g {
  transform-origin: center;
}

#toggle-icon {
  cursor: pointer;

  &:hover {
    background-color: lightgrey;
  }
}
