@import "src/styles/colors";

.cell {
  margin: 1px;
}

.is-hovered {
  filter: brightness(90%);
}

.js-row {
  min-height: 35px;
}

.padding-2px {
  padding: 2px;
}

.overlay {
  fill: darken($grey, 10%);
}
