<!-- Displays cards, which contain information about the most important status bytes -->
<main>
  <mat-toolbar>{{ title }}</mat-toolbar>
  <div *ngIf="cardsService.isDataPresent" class="margin-side-1em d-flex">
    <mat-card *ngFor="let card of cardsService.getData()">
      <mat-card-header>
        <mat-card-title>{{card.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of Utils.castToArray(card.value)">
            {{item.name}}: {{cardsService.getValue(item.value)}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <app-loading *ngIf="!cardsService.isDataPresent"></app-loading>
</main>
