main {
  height: 100%;
}

// Medium screens
@media all and (min-width: 800px) {
  #flight-mode {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto 180px;
    grid-template-areas: "content aside";

    .main {
      grid-area: content;
    }

    .aside {
      grid-area: aside;
    }
  }
}
