<!-- Displays the form for configuring the connection to the server, which delivers the FMS and other JSON -->
<main>
  <mat-toolbar>{{ title }}</mat-toolbar>
  <div class="margin-side-1em">
    <app-alert [errorMessage]="errorMessage"
               [successMessage]="successMessage"
               [informationMessage]="informationMessage"
               [warningMessage]="warningMessage"
               [activeAlert]="activeAlert">
    </app-alert>
    <mat-card class="d-flex flex-column">
      <mat-card-header>
        <mat-card-title>Connection</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="addressForm" (ngSubmit)="submit()">
          <div class="d-flex flex-column">
            <!-- Host -->
            <mat-form-field>
              <mat-label>Host</mat-label>
              <label>
                <input type="text" formControlName="host" matInput placeholder="localhost" required>
              </label>
              <mat-error *ngIf="addressForm.controls['host'].invalid">{{ errorMessageInput }}</mat-error>
            </mat-form-field>

            <!-- Port -->
            <mat-form-field>
              <mat-label>Port</mat-label>
              <label>
                <input type="number" formControlName="port" matInput placeholder="9000" min="0" step="1" required>
              </label>
              <mat-error *ngIf="addressForm.controls['port'].invalid">{{ errorMessageInput }}</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex">
            <!-- Connect to previous -->
            <button mat-button type="button" [disabled]="!isPropertiesAvailable" (click)="connectToPrevious()">
              Connect to previous
            </button>

            <!-- Disconnect -->
            <button mat-button type="button" [disabled]="!isConnected" (click)="disconnect()">Disconnect</button>

            <!-- Connect -->
            <button mat-button type="submit" [disabled]="!addressForm.valid || this.isAlreadyConnectedToProperties">
              Connect
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</main>
