<div id="alert-warning" class="alert alert-warning"
     [ngClass]="{
      'display-none': conditionError
     }" role="alert">
  <div class="flex space-between">
    <mat-icon matListIcon aria-hidden="false" aria-label="Error icon">
      error_outline
    </mat-icon>
    <div class="alert-text">
      {{ errorMessage }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close($event)">
      <mat-icon matListIcon aria-hidden="true" aria-label="Close icon">
        close
      </mat-icon>
    </button>
  </div>
</div>
<div id="alert-success" class="alert alert-success"
     [ngClass]="{
      'display-none': conditionSuccess
      }" role="alert">
  <div class="flex space-between">
    <mat-icon matListIcon aria-hidden="false" aria-label="Success icon">
      check_circle_outline
    </mat-icon>
    <div class="alert-text">
      {{ successMessage }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close($event)">
      <mat-icon matListIcon aria-hidden="true" aria-label="Close icon">
        close
      </mat-icon>
    </button>
  </div>
</div>
