<!-- Displays diverse error, success and other messages, which do not need to be displayed the whole time -->
<div id="alert-error" class="alert alert-danger" role="alert"
     [ngClass]="{
      'd-none': !errorMessage
      }">
  <div class="d-flex justify-content-between">
    <mat-icon matListIcon aria-hidden="false" aria-label="Error icon">
      error_outline
    </mat-icon>
    <div class="alert-text">
      {{ errorMessage }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close($event)">
      <mat-icon matListIcon aria-hidden="true" aria-label="Close icon">
        close
      </mat-icon>
    </button>
  </div>
</div>
<div id="alert-info" class="alert alert-info" role="alert"
     [ngClass]="{
      'd-none': !informationMessage
      }">
  <div class="d-flex justify-content-between">
    <mat-icon matListIcon aria-hidden="false" aria-label="Information icon">
      info
    </mat-icon>
    <div class="alert-text">
      {{ informationMessage }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close($event)">
      <mat-icon matListIcon aria-hidden="true" aria-label="Close icon">
        close
      </mat-icon>
    </button>
  </div>
</div>
<div id="alert-success" class="alert alert-success" role="alert"
     [ngClass]="{
      'd-none': !successMessage
      }">
  <div class="d-flex justify-content-between">
    <mat-icon matListIcon aria-hidden="false" aria-label="Success icon">
      check_circle_outline
    </mat-icon>
    <div class="alert-text">
      {{ successMessage }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close($event)">
      <mat-icon matListIcon aria-hidden="true" aria-label="Close icon">
        close
      </mat-icon>
    </button>
  </div>
</div>
<div id="alert-warning" class="alert alert-warning" role="alert"
     [ngClass]="{
      'd-none': !warningMessage
     }">
  <div class="d-flex justify-content-between">
    <mat-icon matListIcon aria-hidden="false" aria-label="Warning icon">
      warning
    </mat-icon>
    <div class="alert-text">
      {{ warningMessage }}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close($event)">
      <mat-icon matListIcon aria-hidden="true" aria-label="Close icon">
        close
      </mat-icon>
    </button>
  </div>
</div>
