/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  min-height: 100%;
}

// Classes
.loaded { background-color: green; }
.notLoaded { background-color: red; }

// Tags
a { outline: 0; }

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

main { min-height: 25vw; }

ul, ol { list-style-type: none; }

