/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Classes
.loaded { background-color: green; }
.notLoaded { background-color: red; }

// Tags
ul, ol { list-style-type: none; }
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
