$grey: #f8f8f8;

#status-matrix-config-container {
  width: 250px;
}

.attribute {
  border: 1px solid $grey;
  filter: brightness(90%);
  border-radius: 5px;
}

.pointer {
  cursor: pointer;

  &:hover {
    background: $grey;
    filter: brightness(90%);
  }
}

.reorder {
  &:hover {
    cursor: grabbing;
  }
}

.search-box {
  max-height: 200px;
  overflow: auto;
}

mat-list {
  padding: 0;
}

button.mat-icon-button {
  width: auto;
  height: auto;
  line-height: normal;
}
