<div *ngIf="this.gnss !== null">
  <h3 class="mat-h3">Last position</h3>
  <div class="w-100 grid-cols-2">
    <ng-container *ngFor="let item of gnssArray[0]">
      <div class="text-left">
        {{item.name}}
      </div>
      <div class="text-right">
        {{item.value}}
      </div>
    </ng-container>
    <div class="text-left">
      Timestamp
    </div>
    <div class="text-right">
      {{ fmsDataService.getValue(timestampPath)}}
    </div>
  </div>
</div>
<div *ngIf="this.gnss === null">
  No GNSS available
</div>
