<main>
  <mat-toolbar>
    <span>{{ title }}</span>
  </mat-toolbar>
  <div *ngIf="fmsData" class="margin-side-1em">
    <div id="status-panel">
      <!-- Contains the status bytes, which indicate if something is on or off -->
      <div id="status-flags-container">
        <h2>Flags</h2>
        <div class="grid grid-cols-4 grid-gap-sm">
          <div *ngFor="let item of fmsData.status.flags | keyvalue">
            <span
              class="badge"
              [class.badge-success]="item.value"
              [class.badge-danger]="!item.value"
            >&nbsp;</span>&nbsp;
            <span>{{item.key | replaceUnderscore}}</span>
          </div>
        </div>
      </div>
      <!-- Contains the additional, specially highlighted information -->
      <div id="highlight-container" class="flex-container">
        <!-- TODO: Move the cards and which cards should be displayed to the server -->
        <!-- TODO: Display the cards from cards/statuspanel -->
        <h2>Status</h2>
        <div *ngFor="let card of cards">
          <div>
            <h3>{{card.title}}</h3>
            <ul>
              <li *ngFor="let item of card.list">{{item.name}}{{separator}}{{fmsData.status.flags}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
