<main>
  <mat-toolbar>{{ title }}</mat-toolbar>
  <mat-grid-list cols="2" rowHeight="500px" *ngIf="false">
    <mat-grid-tile>
      <mat-card id="connection">
        <mat-card-header>
          <mat-card-title>Connection</mat-card-title>
        </mat-card-header>
        <mat-card-content class="block-children">
          <button mat-button>Connect</button>
          <button mat-button disabled>Disconnect</button>
          <mat-form-field>
            <mat-select placeholder="Placeholder">
              <mat-option value="19200">19200</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Placeholder port">
              <mat-option value="usb0">/dev/ttyUSB0</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Placeholder stage">
              <mat-option value="upper-stage">Upper Stage</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Placeholder 2">
              <mat-option value="moros">Moros</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card id="status">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span>Timestamp</span>{{separator}}{{space}}{{fmsDataService.getFMSData().status.localTimestamp}}
            </mat-list-item>
            <mat-list-item>
              <span>CPU load</span>{{separator}}{{space}}{{fmsDataService.getFMSData().status.cpu_load}}
            </mat-list-item>
            <mat-list-item>
              <span class="badge"
                [class.badge-danger]="!fmsDataService.getFMSData().status.flags.adc_initialized"
                [class.badge-success]="fmsDataService.getFMSData().status.flags.adc_initialized"
              >&nbsp;</span>&nbsp;
              <span>ADC</span>
            </mat-list-item>
            <mat-list-item>
              <span class="badge"
                    [class.badge-danger]="!fmsDataService.getFMSData().status.flags.dac_initialized"
                    [class.badge-success]="fmsDataService.getFMSData().status.flags.dac_initialized"
              >&nbsp;</span>&nbsp;
              <span>DAC</span>
            </mat-list-item>
            <mat-list-item>
              <span class="badge"
                    [class.badge-danger]="!fmsDataService.getFMSData().status.flags.dma_initialized"
                    [class.badge-success]="fmsDataService.getFMSData().status.flags.dma_initialized"
              >&nbsp;</span>&nbsp;
              <span>DMA</span>
            </mat-list-item>
            <mat-list-item>
              <span>Flash</span>{{separator}}{{space}}{{fmsDataService.getFMSData().status.flash_adr}}% full
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>
