.equidistant-circle, .axis {
  stroke: black;
  stroke-width: 0.1;
  opacity: 50%;
}

.direction-group {
  text {
    font-size: 0.3em;
    text-anchor: middle;
    dominant-baseline: central;
  }
}

.transform-origin-center {
  transform-origin: center;
}

.axis {
  font-size: 0.2em;
}

.x-axis {
  transform: translateY(50%);
}

.y-axis {
  transform: translateX(50%);
}

.axis-diagonal {
  transform-origin: center;
  transform: rotateZ(-45deg) translateY(45%);
}

.line {
  stroke: black;
  stroke-width: 0.2;
  fill: none;
}

.square {
  position: relative;

}
