<!-- Displays the control buttons from the left side of the old status panel -->
<main>
  <mat-toolbar>{{ title }}</mat-toolbar>
  <div *ngIf="controlService.isDataPresent" class="margin-side-1em">
    <div class="grid grid-cols-5">
      <button mat-button *ngFor="let control of controlService.getData()" (click)="onControlButtonClicked(control)" class="text-left">
        <span>{{control.code}}</span>
        &nbsp;
        <span>{{control.name}}</span>
        &nbsp;
        <mat-icon matListIcon [class.md-inactive]="control.inactive">{{control.icon}}</mat-icon>
      </button>
    </div>
  </div>
  <!-- Display Loading screen -->
  <app-loading *ngIf="!controlService.isDataPresent"></app-loading>
</main>
