<main>
  <mat-toolbar>
    <span>{{ title }}</span>
  </mat-toolbar>
  <div *ngIf="fmsDataService.isDataPresent" class="margin-side-1em">
    <div id="status-panel">
      <!-- Contains the status bytes, which indicate if something is on or off -->
      <h2>Flags</h2>
      <div class="grid grid-cols-4 grid-gap-sm">
        <div *ngFor='let item of Utils.castToArrayNameValuePair(fmsDataService.getValue("status/flags1"))'>
          <span
            class="badge"
            [ngClass]="{
              'badge-success': item.value,
              'badge-danger': !item.value
            }"
          >&nbsp;</span>&nbsp;
          <span>{{item.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <app-loading *ngIf="!fmsDataService.isDataPresent"></app-loading>
</main>
