<!-- Displays the current flight with the data from the FMS JSON -->
<main class="d-flex flex-column">
  <mat-toolbar>{{ title }}</mat-toolbar>
  <div id="flight-mode-main" class="margin-side-1em flex-grow-1">
    <div class="grid-cols-2 h-100" *ngIf="fmsDataService.isDataPresent">
      <app-radar class="h-100"></app-radar>
      <ul id="flight-mode-information" *ngIf="this.gnss !== null">
        <li *ngFor="let item of gnssArray[0]">
          <div class="grid-cols-2">
             <span>
               {{item.name}}
             </span>
            <span>
              {{item.value}}
            </span>
          </div>
        </li>
      </ul>
    </div>
    <app-loading *ngIf="!fmsDataService.isDataPresent"></app-loading>
  </div>
</main>
